.filters {
    background-color: #ffffff;
    height: 70px;
    width: 100%;
    border-radius: 4px;
    border: 1px #dddddd solid;
}

.filters button {
    font-size: 18px;
    background-color: #ff5a5f;
    color: #fff;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin: 11px 30px;
    float: right;
}

.filters button:hover{
    opacity: .9;
}